<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="#">Soft-G.Net</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="list-drivers">List Drivers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="list-drivers">List Vehicles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">List Routes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Create Scheduler</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>
